@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

:root {

    --primary: #D17D7D;
    --primary-light: #F2E1E1;
    --bg-main: #FDF9F9; 
    --white: #ffffff;
    --text-main: #3E2F2F;
    --text-body: #665555;
    --text-light: #A18E8E;
    --border-color: #EFE1E1;
    --shadow: rgba(209, 125, 125, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-body);
}

.view {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 18rem;
    background: var(--white);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 3rem;
}

.logo img {
    height: 3rem;
    width: 3rem;
}

.logo h3 {
    color: var(--primary);
    font-weight: 800;
    font-size: 1.5rem;
}

.lable {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-light);
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}



.label-item{
    min-height: 3.25rem;
    min-width: 3.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.85rem 1rem;
    text-decoration: none;
    color: var(--text-body);
    font-weight: 600;
    border-radius: 0.75rem;

    transition: all 0.3s;
}

.label-item.active {
    background: var(--primary);
    color: var(--white);
}

.label-item:hover:not(.active){
    background: var(--primary-light);
    color: var(--primary);
}

.label-item i {
    width: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    overflow-y: auto;
    gap:4rem;
    flex:1;
}


.header {
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.element h1 {
    color: var(--text-main);
    font-size: 2rem;
    font-weight: 800;
}

.element p {
    color: var(--text-light);
}

.button-create {
    min-height: 3rem;
    min-width: 10rem;
    padding: 1rem 1.5rem;
    background: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s ease;
}

.button-create:hover {
    transform: scale(1.1);
}




.dashboard-panel {
    background: var(--white);
    border-radius: 3rem;
    padding: 2rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 1rem 3rem var(--shadow); 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.calendar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.view-switcher {
  background: #F1F5F9;
  padding: 0.25rem; 
  border-radius: 3rem;
  display: flex;
  gap: 0.25rem;
  border: 0.0625rem solid var(--border-color);
}

.header-button {
  padding: 0.5rem 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 700;
  color: var(--text-main);
  border-radius: 2.5rem;
  transition: 0.3s;
  font-size: 0.9375rem;
}

.header-button-active {
  padding: 0.5rem 1.5rem;
  border: none;
  background: var(--primary);
  cursor: pointer;
  font-weight: 700;
  color: var(--bg-main);
  border-radius: 2.5rem;
  transition: 0.3s;
  font-size: 0.9375rem;
}

.nav-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    background: var(--white);
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.today-button{
    min-height: 3rem;
    min-width: 6rem;
    padding: 1rem 1.5rem;
    background: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.today-button:hover {
    opacity: 0.8;
}

.nav-button:hover{
    background: var(--primary-light);
}

